.footer {
  backface-visibility: hidden;
  background-color: #16202B;
  left: 0;
  padding: 8px 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9000;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

 .footer a {
  align-items: center;
  color: #858D93;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: normal;
  justify-content: center;
  margin: auto 0.5rem;
  transition: all 0.2s ease-in-out;
}

.footer {
  a {
    &:hover {
      color: white;
    }
  }
}

.footer span {
  color: #858D93;
  font-size: 1.4rem;
  align-items: center;
}

@media screen and (max-width: 728px) {
  .footer {
  }
  
  .footer a {
    display: inline-block;
    font-size: 1.1rem;
  }
  .footer span {  
    display: inline-block;
    font-size: 1.1rem;
  }
}
